<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jueguito almita no me mate</title>
    <link href='https://fonts.googleapis.com/css?family=Original+Surfer&effect=emboss' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/master.css">


    <audio id="clip1">
        <source src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3">
        </source>
    </audio>
    <audio id="clip2">
        <source src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3">
        </source>
    </audio>
    <audio id="clip3">
        <source src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3">
        </source>
    </audio>
    <audio id="clip4">
        <source src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3">
        </source>
    </audio>
</head>

<body>
    {{> top}}
    {{{body}}}
    {{> bot}}
</body>

</html>